@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* vars */
:root {
    --black: #000;
    --white: #fff;
    --green: #1da4a6;
    --darkgrey: #1e1e1e;
    --lightgrey: #d2d2d2;
}



/* all */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Inter', sans-serif;
}

p, figcaption {
    font-family: 'Roboto', sans-serif;
}

div.up button {
    position: fixed;      
    z-index: 1000;     
    bottom: 20px;         
    right: 20px;          
    padding: 10px 15px;  
    background-color: var(--darkgrey); 
    color: var(--white);        
    border: 2px solid var(--white);         
    border-radius: 10px;  
    cursor: pointer;
    font-size: 30px;    
}

div.up button:active {
    color: var(--black);
    background-color: var(--green);
    transition: 300ms ease-in-out;
}


    
/* desktop viewport*/
@media screen and (min-width: 1024px) {

    .tablet-mobile-view {
        display: none;
    }

    .tablet-view {
        display: none;
    }

    .mobile-view {
        display: none;
    }

    div.section {
        margin: 3em auto;
    }

    div.up button:hover {
    padding: 15px 20px;
    transition: 0.5s;
}
    
    header.homeHeader .headerpic {
        background: url(../assets/images/imgbg.jpg);
        background-position: center;
        background-size: cover;
        height: 80vh;
    }

    header.homeHeader .says {
        position: absolute;
        right: 0;
        top: 2em;
        background-color: var(--green);
        padding: 0.5em 0.3em 0.5em 1em;
        color: var(--white);
        margin: .5em;
        text-align: right;
        font-family: Roboto;
        font-size: 80px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 30%;
    }

    header.homeHeader .says p span {
        font-weight: bold;
    }

    nav.desktop-view{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        position: fixed;
        width: 100%;
        z-index: 1;
        padding: 1em 0;
        border-bottom: 3px var(--black) solid;
    }

    nav.desktop-view .logo img{
        height: 110px;
        width: 210px;
        padding-left: 3em;
        margin: 0 auto;
    }

    nav.desktop-view .navlinks ul {
        display: flex;
        flex-flow: row nowrap;
    }

    nav.desktop-view .navlinks ul li {
        list-style-type: none;
        padding-right: 5em;
        padding-top: 2em;
        
    }

    nav.desktop-view .navlinks a {
        text-decoration: none;
        color: var(--black);
        font-size: 30px;
    }

    nav.desktop-view .navlinks a:hover {
        text-decoration: underline;
        transition: 300ms ease-in-out;
    }

    nav.desktop-view .navlinks a:active {
        color: var(--green);
        transition: 0.3ms ease-in-out;
    }    
    
    /* Home */
    header .headerpic {
        min-height: 700px;
        background: linear-gradient(94deg, rgba(29, 164, 166, 0.70) 32.02%, rgba(255, 255, 255, 0.00) 95.99%), url("assets/images/img-bg.jpg");
        background-size: cover;
        background-position: center;
        height: 70vh;
    }

    main {
        width: 100%;
        height: 80%;
        background-color: var(--white);
        
    }

    main p {
        font-size: 30px;
        text-align: center;
        padding: 0.5em 3em;
        font-weight: 400;
        
    }

    main.home {
        padding: 10em 0;
    }

    main .contact p {
        padding-top: 3em;
        color: var(--green);
    }

    main .btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;   
        
    }

    main .btns button{
        background-color: var(--green);
        color: var(--white);
        border: 1px solid var(--green);
        padding: 1em 1.5em;
        font-size: 27px;
        text-align: center;
        margin: .5em 2em;
        border-radius: 15px;
        box-shadow: 10px 10px 15px var(--lightgrey);
    }

    main .btns button:hover{
        background-color: var(--white);
        color: var(--green);
        transition: 300ms ease-in-out;
        border: 1px solid var(--green);
    }

    main .section h3 {
        font-size: 40px;
        padding-left: 2.5em;
        padding-top: 1em;
        color: var(--green);
    }

    main .section p {
        text-align: left;
    }

    /* About */
    main .section .team {
        display: flex;
        flex-direction: row;
        margin-left: 3em;
    }

    main .section .team p {
        font-size: 20px;
        padding: 0;
        text-align: center;
    }

    main .section .team h5 {
        font-size: 25px;
        text-align: center;
    }

    main .section .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3em;
    }

    main .section .member img{
        width: 250px;
    }

    main .section2 {
        background-color: var(--green);
        color: var(--white);
        padding-bottom: 10em;
        padding-top: 1em;
    }

    main .section2 .section h3 {
        color: var(--white);
    }

    main .section2 .descList {
        font-size: 30px;
        margin: 2.5em 3em;

    }

    main .section2 .descList dt {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        padding-bottom: 0.5em;
    }

    main .section2 .descList dd {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 1em;
    }

    /* Services */
    main .section table.services-table, main .section table.services-table tr, main .section table.services-table th, main .section table.services-table td {
        border: 1px solid var(--white);
        background-color: var(--green);
        color: var(--white);
        border-collapse: collapse;
        padding: 1em 2em;
        font-family: 'Inter', sans-serif;
        font-size: 25px;
    }

    main .section table.services-table {
        margin: 1em auto;
    }

    .posSF {
        color: var(--white);
        background-color: var(--green);
    }

    .posSF h3.pos {
        color: var(--white);
       
    }

    .pos-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 3em;
    }

    .imgIcons img{
        display: block;
        width: 100px;
        padding: 1.3em 0;
    }

    .list dl{
        text-align: left;
        
    }

    .list dl dt {
        font-family: 'Inter', sans-serif;
        font-size: 25px;
    }

    .list dl dd {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }

    .desc-list {
        padding: 2.5em 1em;
    }

    main .section dl.process-list {
        font-size: 30px;
        margin-left: 5em;
        margin-top: 1em;
    }

    main .section dl.process-list dt {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        padding-bottom: 0.5em;
    }

    main .section dl.process-list dd {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 1em;
    }

    .slide-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80vh;
    }

    .slide-images h3 {
        text-align: center;
        margin: 0;
        padding: 1em 0;
        position: relative;
        right: 1em
    }

    .slide-images img{
        width: 70%;
        object-fit: cover;
        border-radius: 10px;
        display: none;
        margin: 0 auto;
        box-shadow: 15px 15px 10px var(--lightgrey);
    }

    .slide-images img.active {
        display: block;
    }

    .slide-images .dots {
        width: 500px;
        margin: 20px auto 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .slide-images .dots button {
        height: 15px;
        width: 30px;
        border: 3px solid var(--green);
        border-radius: 5px;
        cursor: pointer;
        background: transparent;
    }

    .slide-images .dots button:hover {
        padding: 0 1.5em;
        transition: 300ms ease-in-out;
    }

    .slide-images button#prev, .slide-images button#next {
        height: 40px;
        width: 40px;
        background: var(--white);
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        margin: auto;
        text-align: center;
        position: relative;
        top: 2em;
        
    }

    .slide-images .next-prev {
        padding-top: 1em;
    }

    .slide-images button#prev {
        left: -30px;
    }

    .slide-images button#next {
        right: -30px;
    }

    .slide-images button#prev:hover {
        border: 2px solid var(--green);
    }

    .slide-images button#next:hover {
        border: 2px solid var(--green);
    }

    /* videos */
    .video-reels {
        margin: 2em auto;
    }
    .videos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2em auto;
    }

    .videos video {
        padding: 2em;
    }

    .videos h3 {
        display: block;
    }



    /* Projects */
    .section .section-project {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .section .section-project .project {
        text-align: center;
        border: 1px solid var(--lightgrey);
        background-color: var(--lightgrey);
        padding: 2em 1em;
        margin: 2em;
        border-radius: 10px;
    }

    .section .section-project .project:nth-of-type(5){
        background-color: var(--white);
        border: none;
    }

    .section .section-project .project h4 {
        font-size: 15px;
        padding-bottom: 3em;
    }

    .section .section-project .project p {
        font-size: 20px;
        text-align: center;
        line-height: 1.5em;
    }

    .section .section-project .project img {
        width: 300px;
        
    }

    .section table.pos-projects, .section table.pos-projects tr, .section table.pos-projects th, .section table.pos-projects td{
        border: 1px solid var(--black);
        background-color: var(--white);
        color: var(--black);
        width: 60%;
        margin: 1em auto;
        border-collapse: collapse;
        padding: 1em;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
    }

    /* Contact */
    main .contactus p {
        text-align: center;
    }

    form {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  

    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--green);
        box-shadow: 10px 10px 15px var(--lightgrey);
        padding: 3em;
        width: 50vw;
        height: 100%;
    }

    form label, form textarea {
        padding: 1em 2em;
    }

    form label {
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        text-align: left;
    }

    form input[type=text], form input[type=email]  {
        font-size: 20px;
        box-sizing: border-box;
        padding: 5px 20px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--green);

    }

    .checkboxes {
        padding: 1em;
    }

    form input[type=checkbox].cb {
        height: 20px;
        width: 20px;
        border: 3px solid var(--green);
        
    }

    .cbs {
        padding: 1em;
    }
    
    textarea {
        width: 100%;
        border: 1px solid var(--green);
    }

    input#submit, input#reset {
        padding: 0.5em 1em;
        margin: 1em;
        font-size: 20px;
        border: 1px solid var(--black);
        background-color: var(--green);
        color: var(--white);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 5px 10px 10px var(--lightgrey);
    }

    input#submit:hover {
        transition: 300ms ease-in-out;
        padding: 0 1.5em;
    }

    input#reset:hover {
        transition: 300ms ease-in-out;
        padding: 0 1.5em;
    }

    input#submit:hover:active {
        color: var(--black);
        background-color: var(--white);
    }

    input#reset:hover:active {
        color: var(--black);
        background-color: var(--white);
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
    }

    p.or {
        color: var(--green);
    }

    .icons img {
        display: block;
        width: 50px;
        padding: 1em 0.5em 1em 1em;
    }

    .icons img:last-child {
        width: 40px;
        padding-left: 1.3em;
    }

    .contacts {
        border: 5px solid var(--green);
        width: 50%;
        margin: 1em auto;
        display: flex;
        margin-bottom: 5em;
    }

    .contact-info p {
        padding: 0.8em 0 0.7em 0.5em;
    }



    /* Footer */
    footer {
        width: 100%;
        height: 30%;
        background-color: var(--darkgrey);
        color: var(--white);
        display: block;
        text-align: center;
        padding: 0.5em 0;
        font-size: 25px;
        margin: 0;
    }

    footer a {
        color: var(--white);
        padding: 1em 0;
    }

    /* fix */
    footer .links {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    footer .links .soclinks {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
    
}

/* tablet viewport */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: none;
    }

    div.section {
        margin: 2em auto;
    }

    p {
        font-size: 20px;
    }

    h3 {
        font-size: 30px;
    }

    /* navigation */
    nav.tablet-mobile-view {
        width: 100%;
        background-color: var(--white);
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 1;
        border-bottom: 2px solid var(--black);
    }

    nav.tablet-mobile-view .logo {
        margin: 0 auto;
        padding-right: 5em;
    }

    nav.tablet-mobile-view .logo img {
        width: 150px;
    }
    
    nav.tablet-mobile-view .hmbrg-menu img {
        width: 50px;
        padding: 1em;
    }

    /* menu */
    #menu {
        display: none;
    }

    .menu {
        background-color: var(--green);
        position: fixed;
        top: 0;
        width: 40%;
        height: 100%;
        z-index: 2;
        transition: 0.5s;
    }

    .menuLinks a {
        text-decoration: none;
        color: var(--white);
        padding: 1em;
        font-size: 30px;
    }

    .menuLinks a:active {
        color: var(--black);
    }

    .menu .content .menu-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-head h2 {
        padding: 0.5em;
        font-size: 40px;
    }

    .menu-head img {
        height: 70px;
    }

    .menuLinks {
        display: flex;
        flex-direction: column;
    }

    /* header */
    header {
        padding: 5em;
        height: 40vh;
        background: linear-gradient(to right, var(--green), var(--white));
    }

    header .says p{
        font-weight: 300;
        font-size: 60px;
        text-align: center;
        line-height: 1.25em;
        padding: 0.5em 1em;
        margin-top: 3em;

    }

    header .says p span {
        font-weight: 800;
    }


    /* home */
    main.home .intro img  {
        width: 450px;
        height: 400px;
        padding: 3em 0;
    }

    main.home .intro {
        text-align: center;
    }

    main.home .intro p {
        text-align: left;
        padding: 1em 2em ;
        
    }

    main.home .contact {
        padding: 2em;
        text-align: center;
        font-size: 25px;
    }

    main.home .contact  p{
        color: var(--green);
    }

    main.home .contact-deets p {
        display: inline-flex;
        flex-direction: row;
        color: var(--black);
        padding: 1em 3em;
    }

    /* footer */
    footer {
        background-color: var(--darkgrey);
        color: var(--white);
        display: block;
        text-align: center;
        padding: 1em;
    }

    footer p {
        padding: 1em;
    }

    footer .links .soclinks {
        display: inline;
        padding: 1em 3em;
    }

    footer .links .soclinks a {
        text-decoration: none;
        color: var(--white);
    }

    /* About */
    main.about h3 {
        color: var(--green);
        padding-bottom: 1em;
        padding-left: 0.5em;
    }

    .about .section {
        padding: 2em 1.5em;
    }

    main .section .team {
        display: flex;
        flex-direction: row;
        margin-left: 3em;
    }

    main .section .team p {
        font-size: 15px;
        padding: 0;
        text-align: center;
    }

    main .section .team h5 {
        font-size: 20px;
        text-align: center;
    }

    main .section .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3em;
    }

    main .section .member img{
        width: 250px;
    }

    .ulList ul {
        list-style-position: inside;
        padding: 1em 0 5em 3em;
    }

    .ulList ul li {
        font-family: "Inter", sans-serif;
        font-size: 18px;
    }

    /* Services */
    main.services .section h3 {
        color: var(--green);
        padding: 4em 0.5em 1em 0.5em;
    }

    .services {
        padding: 3em 1.5em;
    }

    table.services-table {
        margin: 1em auto;
    }

    main .section table.services-table, main .section table.services-table tr, main .section table.services-table th, main .section table.services-table td {
        border: 1px solid var(--white);
        background-color: var(--green);
        color: var(--white);
        border-collapse: collapse;
        padding: 0.5em;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
    }

    table.services-table tr:nth-child(even) td {
        background-color: #126768;
    }

    .imgIcons img {
        width: 100px;
        display: block;
        padding: 1em 0;
    }
    

    .posSF .pos-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        
    }

    .list-tb h2 {
        font-size: 25px;
        padding: 1.8em 1em;
    }

    ol.list-process {
        list-style-position: inside;
        padding: 2em 0 4em 2em;
        font-family: 'Inter', sans-serif;
    }

    .slide-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .slide-images img{
        width: 70%;
        object-fit: cover;
        border-radius: 10px;
        display: none;
        margin: 0 auto;
        box-shadow: 15px 15px 10px var(--lightgrey);
        border: 3px solid var(--green);
    }

    .slide-images img.active {
        display: block;
    }

    .slide-images .dots {
        width: 500px;
        margin: 20px auto 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .slide-images .dots button {
        height: 15px;
        width: 30px;
        border: 3px solid var(--green);
        border-radius: 5px;
        cursor: pointer;
        background: transparent;
    }

    .slide-images button#prev, .slide-images button#next {
        height: 40px;
        width: 40px;
        background: var(--white);
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        
        text-align: center;
        position: relative;
        top: 2em;

    }

    .slide-images .next-prev {
        padding-top: 1em;
    }

    .slide-images button#prev {
        left: -30px;
    }

    .slide-images button#next {
        right: -30px;
    }

    .slide-images button#prev:active {
        border: 2px solid var(--green);
    }

    .slide-images button#next:active {
        border: 2px solid var(--green);
    }

    /* videos */
    .video-reels {
        margin: 2em auto;
    }
    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em auto;
    }

    .videos video {
        padding: 5em;
    }

    .videos h3 {
        display: block;
    }



    /* Projects */
    main.projects h3 {
       color: var(--green);
       padding: 2em 0 1em 1.5em;
        
    }

    .section .section-project {
        display: grid;
        grid-template-columns: auto;
        
    }

    .section .section-project .project {
        text-align: center;
        border: 1px solid var(--lightgrey);
        background-color: var(--lightgrey);
        padding: 2em 1em;
        margin: 1em auto;
        width: 50%;
        border-radius: 15px;
    }

    .project img {
        width: 250px;
    }

    .section table.pos-projects, .section table.pos-projects tr, .section table.pos-projects th, .section table.pos-projects td{
        border: 1px solid var(--green);
        color: var(--black);
        width: 60%;
        margin: 0.5em auto;
        border-collapse: collapse;
        padding: 1em;
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        margin-bottom: 5em;
    }

    .section table.pos-projects th {
        background-color: var(--lightgrey);
    }
    
    /* Contact*/
    .contactus h3 {
        color: var(--green);
        padding: 2em;
    }

    main .contactus p, p.saythis {
        text-align: center;
    }

    form {
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--green);
        box-shadow: 10px 10px 15px var(--lightgrey);
        padding: 3em;
        width: 50vw;
        height: 100%;
    }

    form label, form textarea {
        padding: 1em 2em;
    }

    form label {
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        text-align: left;
    }

    form input[type=text], form input[type=email]  {
        font-size: 20px;
        box-sizing: border-box;
        padding: 5px 20px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--green);

    }

    .checkboxes {
        padding: 1em;
    }

    form input[type=checkbox].cb {
        height: 20px;
        width: 20px;
        border: 3px solid var(--green);
        
    }

    .cbs {
        padding: 1em;
    }
    
    textarea {
        width: 100%;
        border: 1px solid var(--green);
    }

    input#submit, input#reset {
        padding: 0.5em 1em;
        margin: 1em;
        font-size: 20px;
        border: 1px solid var(--black);
        background-color: var(--green);
        color: var(--white);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 5px 10px 10px var(--lightgrey);
    }

    input#submit:hover:active {
        color: var(--black);
        background-color: var(--white);
    }

    input#reset:hover:active {
        color: var(--black);
        background-color: var(--white);
    }
    
    .buttons {
        display: flex;
        flex-direction: row;
    }

    p.or {
        color: var(--green);
        text-align: center;
    }


    .icons img {
        display: block;
        width: 50px;
        padding: 1em 0.5em 1em 1em;
    }

    .icons img:last-child {
        width: 40px;
        padding-left: 1.3em;
    }

    .contacts {
        border: 5px solid var(--green);
        width: 50%;
        margin: 1em auto;
        display: flex;
        margin-bottom: 5em;
    }

    .contact-info p {
        padding: 0.8em 0 0.7em 0.5em;
    }


}

/* mobile viewport */
@media screen and (max-width: 767px) {
    .desktop-view {
        display: none;
    }

    .tablet-view {
        display: none;
    }

    .tablet-desktop-view {
        display: none;
    }

    .tablet-mobile-view {
        display: block;
    }

    div.section {
        margin: 1em auto;
    }

    div.up button {
        position: fixed;      
        z-index: 1000;     
        bottom: 20px;         
        right: 20px;          
        padding: 10px 15px;  
        background-color: var(--darkgrey); 
        color: var(--white);        
        border: 1px solid var(--white);         
        border-radius: 10px;  
        cursor: pointer;
        font-size: 30px;    
    }
    
    div.up button:active {
        color: var(--black);
        background-color: var(--green);
        transition: 300ms ease-in-out;
    }

    /* navigation */

    nav .logo img {
        width: 100px;
    }

    nav .logo {
        margin: 0 auto;
        padding-right: 6em;
    }

    nav.tablet-mobile-view {
        width: 100%;
        background-color: var(--white);
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 1;
        border-bottom: 2px solid var(--black);
    }
    nav.tablet-mobile-view .hmbrg-menu img {
        width: 50px;
        padding: 1em;
    }


    /* header */
    header {
        padding: 5em;
        height: 40vh;
        background-image: url(../assets/images/imgbg.jpg);
        background-size: cover;
        }

    /* menu */
    #menu {
        display: none;
    }

    .menu {
        background-color: var(--green);
        position: fixed;
        top: 0;
        width: 40%;
        height: 100%;
        z-index: 2;
        transition: 0.5s;
    }

    

    .menuLinks a {
        text-decoration: none;
        color: var(--white);
        padding: 0.5em;
        font-size: 24px;
        padding-bottom: 1.5em;
    }

    .menuLinks a:active {
        color: var(--black);
    }

    .menu .content .menu-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-head h2 {
        padding: 0.5em;
        font-size: 30px;
    }

    .menu-head img {
        height: 50px;
    }

    
    .menuLinks {
        display: flex;
        flex-direction: column;
        padding-left: 1.3em;
        
    }


    /* home */
    main.home {
        text-align: center;
    }

    main.home p {
        padding: 1em 0.5em;
    }


    main.home .intro img.mobile-view {
        width: 200px;
        margin: 1em auto;
    }
    .contact p {
        color: var(--green);
    }

    .contact .contact-deets p {
        color: var(--black);
    }

    /* about */
    main.about h3 {
        color: var(--green);
        padding: 2em 1em 0.5em 1em;
    }

    main.about p {
        padding: 0 1em ;
    }

    main.about section {
        padding-bottom: 1em;
    }


    main .section .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main .section .team p {
        font-size: 15px;
        padding: 0;
        text-align: center;
    }

    main .section .team h5 {
        font-size: 20px;
        text-align: center;
    }

    main .section .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3em;
    }

    main .section .member img{
        width: 250px;
    }

    .ulList ul {
        list-style-position: inside;
        padding: 1em 0 5em 3em;
    }

    .ulList ul li {
        font-family: "Inter", sans-serif;
        font-size: 18px;
    }

    /* services*/
    .services h3 {
        color: var(--green);
        margin: 2em auto 0.5em auto;
    }

    .services .section {
        margin: 2em 1em;
    }

    .services-list .list-ul {
        padding: 0.5em 1em 2em 1em;
    }

    .services-list .list-ul ul {
        list-style-position: inside;
    }

    .services-list .list-ul ul li {
        font-family: 'Roboto', sans-serif;
    }

    .posSF .list-mb {
        padding: 1em 0.5em;
    }

    .posSF .list-mb ul {
        list-style-position: inside;
    }

    .posSF .list-mb ul li {
        font-family: 'Roboto', sans-serif;
    }

    ol.list-process {
        list-style-position: inside;
        padding: 1em 0.5em;
    }

    .section ol.list-process li  {
        font-family: "Roboto", sans-serif;
    }


    .slide-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .slide-images img{
        width: 70%;
        object-fit: cover;
        border-radius: 10px;
        display: none;
        margin: 0 auto;
        box-shadow: 15px 15px 10px var(--lightgrey);
        border: 3px solid var(--green);
    }

    .slide-images img.active {
        display: block;
    }

    .slide-images .dots {
        width: 400px;
        margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .slide-images .dots button {
        height: 10px;
        width: 20px;
        border: 1px solid var(--green);
        border-radius: 5px;
        cursor: pointer;
        background: transparent;
    }

    .slide-images button#prev, .slide-images button#next {
        height: 40px;
        width: 40px;
        background: var(--white);
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        text-align: center;
        position: relative;
        top: 2em;
        margin-bottom: 5em;
        
    }

    .slide-images .next-prev {
        padding-top: 0.5em;
    }

    .slide-images button#prev {
        left: -30px;
    }

    .slide-images button#next {
        right: -30px;
    }

    .slide-images button#prev:active {
        border: 2px solid var(--green);
    }

    .slide-images button#next:active {
        border: 2px solid var(--green);
    }

    /* videos */
    .video-reels {
        margin: 2em auto;
    }
    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em auto;
    }

    .videos video {
        padding: 5em;
    }

    .videos h3 {
        display: block;
    }



    /* projects */
    main.projects h3 {
        color: var(--green);
        padding: 2em 0 1em 1.5em;
         
     }
 
     .section .section-project {
         display: grid;
         grid-template-columns: auto;
         
     }
 
     .section .section-project .project {
         text-align: center;
         border: 1px solid var(--lightgrey);
         background-color: var(--lightgrey);
         padding: 2em;
         margin: 1.5em auto;
         width: 50%;
         border-radius: 25px;
     }

     figcaption {
        font-size: 25px;
     }
 
     .project img {
         width: 250px;
     }

     .pos-projs .list-descs {
        padding: 1em 2em;
     }

     .list-descs dt {
        color: var(--green);
        font-size: 25px;
        font-family: 'Inter', sans-serif;
        padding-bottom: 0.5em;
     }

     .list-descs dd {
        font-family: 'Roboto', sans-serif;
     }

     /* contact */
     h3.contact-p {
        color: var(--green);
        padding: 2em;
     }
     .icons img {
        display: block;
        width: 50px;
        padding: 1em 0.5em 1em 1em;
    }

    .icons img:last-child {
        width: 40px;
        padding-left: 1.3em;
    }

    .contacts {
        border: none;
        width: 50%;
        margin: 1em auto;
        display: flex;
        margin-bottom: 5em;
    }

    .contact-info p {
        padding: 0.8em 0 2.3em 0.5em;
    }

    p.saythis {
        text-align: center;
    }

    /* footer */
    footer {
        margin-top: 5em;
        color: var(--white);
        background-color: var(--darkgrey);
        padding: 2em;
    }

    footer .link {
        text-align: center;
        display: flex;
        margin: 0 auto;
    }

    footer .soclinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em 0.5em;
    }

    footer .links .soclinks img {
        width: 60px;
        padding-right: 0.5em;
    }

    footer .links .soclinks a {
        color: var(--white);
        text-decoration: none;
        font-size: 20px;
    }


}

/* print */
@media print {
    body {
        margin: 1em 0.5em;
        background-color: var(--white);
        color: var(--black);
        font-family: Arial, Helvetica, sans-serif;
    }

    header, nav, div.menu, div.ulList, div.slide-images, div.video-reels, div.list-tb, div.list-mb, ol.list-process, div.contactus, table, button, form, p.or, footer, img {
        display: none;
    }

    h3 {
        margin-top: 2em;
    }

    p {
        line-height: 1.5em;
    }

    dl {
        line-height: 1.25em;
    }

    dl dt {
        font-weight: bold;
        padding-top: 1em;
    }

    main.home {
        text-align: center;
    }

    main.home .intro p {
        padding: 1.5em;
    }

    figcaption {
        font-weight: bold;
        padding-top: 1em;
    }

    main.projects p {
        padding-bottom: 1em;
    }
}